{% extends "::base.html.twig" %}

{% block title %} Статьи {% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container container-fluid">
            <ul class="nav navbar-nav">
                <li class="item"><a href="{{ path('app_articles_index') }}"> Все статьи </a></li>
                {% if not is_granted('ROLE_USER') %}
                    <li class="item"><a href="{{ path('fos_user_registration_register') }}"> Регистрация </a></li>
                    <li class="item"><a href="{{ path('fos_user_security_login') }}"> Авторизация </a></li>
                {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="item"><a href="{{ path('admin') }}"> Админка </a></li>
    {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="item"><a href="/logout"> Выйти </a></li>
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}
{% endblock %}