{% extends 'AppBundle::main.html.twig' %}

{% block title %}AppBundle:Articles:edit{% endblock %}

{% block content %}
    <div class="container">
        <h2 align="center">Редактирование статьи</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}