{% extends 'AppBundle::main.html.twig' %}

{% block title %}AppBundle:Articles:index{% endblock %}

{% block content %}
    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
            <h1 align="center">Добавить статью</h1>

            {{ form_start(new_form) }}
            {{ form_widget(new_form) }}
            {{ form_end(new_form) }}
        {% endif %}
        <h1 align="center">Все статьи</h1>
        <div class="articles">
            {% for Article in Articles %}
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span>{{ Article.title }}</span>
                            <span class="pull-right label label-info">{{ Article.createdAt|date('H:i:s / d.m.Y') }}</span>
                        </h3>
                    </div>

                    <div class="panel-body">
                        {{ Article.body }}
                        {% if is_granted('ROLE_ADMIN') %}
                            <hr/>
                            <div class="pull-right">
                                <a href="{{ path('app_articles_edit', {'id': Article.id}) }}" class="btn btn-info">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="{{ path('app_articles_remove', {'id': Article.id}) }}" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(Articles) }}
        </div>
    </div>
{% endblock %}